<!DOCTYPE html>

<html>
<head>
    <title>Administrator</title>
</head>
<body>
<div>
    <h1>Administrator</h1>
    <p>Моё почтение! У тебя админский доступ</p>
    <partial name="_Menu" />
    <partial name="_UserInfo" />
</div>
</body>
</html>