<!DOCTYPE html>

<html>
<head>
    <title>Client</title>
</head>
<body>
<div>
    <h1>Client</h1>
    <p>Да ты нуб! У тебя всего лишь клиентский доступ</p>
    <partial name="_Menu" />
    <partial name="_UserInfo" />
</div>
</body>
</html>