@model TryDiploma.ViewModel.AccountModels.RegisterViewModel

<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Регистрация</title>
</head>
<body>
<div>
      <h1>Register</h1>
          <form asp-controller="Admin" asp-action="Register" method="post">
              <div asp-validation-summary="All"></div>
              <div>
                  <label>UserName</label>
                  <input asp-for="UserName">
                  <span asp-validation-for="UserName"></span>
              </div>
              <div>
                  <label>Password</label>
                  <input asp-for="Password">
                  <span asp-validation-for="Password"></span>
              </div>
              <div>
                  <label>Confirm password</label>
                  <input asp-for="ConfirmPassword">
                  <span asp-validation-for="ConfirmPassword"></span>
              </div>
      
              <button type="submit">Register</button>
          </form>
</div>
</body>
</html>