<!DOCTYPE html>

<html lang="ru">
<head>
    <title>AccessDenied</title>
</head>
<body>
<div>
    <h1>AccessDenied</h1>
    <partial name="_Menu" />
    <partial name="_UserInfo" />
</div>
</body>
</html>