@{
    var scriptUrl = $"/bundle/main.bundle.js";
    var styleUrl = $"/bundle/main.bundle.css";
}
<!DOCTYPE html>

<html lang="ru">
<head>
    <link rel="preload" as="script" href="@scriptUrl" asp-append-version="true"/>
    <link rel="preload" as="style" href="@styleUrl" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
<div id="root">
    <h1>Home (react not working)</h1>
</div>

<script src="@scriptUrl" asp-append-version="true"></script>
</body>
</html>